/*

COLOR PALETTE

WHITE: #FEFEFE
BLACK: #000000
TEXT INPUT BACKGROUND: #EEEEEE
ADD BUTTON: #FFCC68
DELETE BUTTON: #FF9548
CHORE: #FBDF7C

*/

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Concert One', cursive;
    text-align: center;
}

.container {
    width: 90%;
}

.top {
    display: flex;
    height: 90px;
    gap: 10px;
}

input {
    width: 80%;
    text-align: center;
    background-color: #EEEEEE;
    color: #A4A4A4;
    border: none;
    border-radius: 10px;
    font-size: 30px;
}

input:focus {
    color: #000000;
}

input:focus::placeholder {
    color: transparent;
  }

button, .items, input {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

button {
    width: 10%;
}

.items {
    margin-top: 10px;
    height: 90px;
    width: 100%;
    background-color:  #FBDF7C;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.add-btn, .delete-btn{
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    transition: font-size 0.1s ease
}

.add-btn:hover, .delete-btn:hover {
    font-size: 35px;
}

.add-btn {
    background-color: #FFCC68;
}

.delete-btn {
    background-color: #FF9548;
}

.completed-container {
    margin-top: 10px;
    display: none;
}

.completed-gif {
    width: 80%;
}

@media only screen and (max-width: 600px) {

    .container {
        width: 100%;
        padding: 0px 10px;
    }

    input {
        width: 60%;
    }

    button {
        width: 20%;
    }

}